@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400&family=Noto+Serif&family=Source+Code+Pro:wght@500&display=swap');
html, body, #root, .app {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #ffffff;
}

h1, h2, h3, h4, h5 {
  font-family: 'Noto Serif', serif;
  font-weight: 100;
}

h1 {
  font-size: 2em;
}

div, p {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 300;
}

pre {
  font-family: 'Source Code Pro', monospace;
}

.hidden {
  visibility: hidden;
}

.app.dashboard {
  /* background-image: url(img/background.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 58%;
  min-height: 100vh; */
  background-color: #001e2b
}

.app.client {
  background-color: #00684a;
}

.tablehead {
  display: flex;
  justify-content: center;
}

.tablehead img {
  width: 1200px;
}

.event-box {
  border: solid white 1px;
  background-color: #f9ebff;
  color: #023430;
  text-align: center;
  margin-bottom: 10px;
}

td {
  width: 150px;
}

header {
  padding: 1em;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
}

header h3 {
  font-size: 1em;
  font-style: italic;
}

.client {
  background-color: #00684a;
  color: #ffffff;
  height: fit-content;
  min-height: 100%;
  padding: 2em;
}

.client main {
  padding: 1em;
  font-size: 1.5em;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.copy-btn {
  border: none;
  border-radius: 10px;
  background: none;
  color: #fff;
  padding-bottom: 5px;
}


input, select, label {
  font-size: 1.5vh;
}

@media only screen and (max-width: 768px) {
  input, select, label {
    font-size: 2vh;
  }
}

.footer {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.footer a {
  color: #00ed64;
}

.footer a:visited {
  color: #00ed64;
}

.mainformbtn {
  background-color: #00ed64;
  color: #001e2b;
  border: none;
  text-transform: uppercase;
  padding: 15px;
  min-width: 150px;
  height: 50px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 25px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeIn 2s ease-in-out;
}

.fadeOut {
  animation: fadeOut 2s ease-in-out;
}

